<script>
    //http://trendct.org/2016/01/22/how-to-choose-a-label-color-to-contrast-with-background/

    const { defer, interval, of, Subject, timer } = rxjs;
    const { bufferTime, concat, concatMap, delayWhen, filter, ignoreElements, retryWhen, switchMap, takeWhile, tap } = rxjs.operators;

    function createOrgChart(id, data) {
        const node = document.getElementById(id);
        removeChilds(node);
        new OrgChart({
            chartContainer: '#' + id,
            createNode(node, data) {
                createOrgNode(node, data);
            },
            data,
            direction: 'l2r',
            nodeContent: 'name',
            nodeTitle: '_',
            pan: true,
            parentNodeSymbol: '',
        });
    }
    function removeChilds(node) {
        if (node) {
            let lastContent;
            while (lastContent = node.lastChild) node.removeChild(lastContent);
        }
    }
    function createOrgNode(node, { name, users, url }) {
        const rLen = (users || []).length || 0;

        const titleDiv = node.querySelector('.title');
        if (titleDiv) titleDiv.innerHTML = rLen ? ['<i class="material-icons">group</i> (', rLen, ')'].join('') : '';

        const contentDiv = node.querySelector('.content');
        if (contentDiv) {
            removeChilds(contentDiv);
            const orgLink = document.createElement('a');
            orgLink.href = url;
            orgLink.innerText = name;
            orgLink.title = name;
            contentDiv.appendChild(orgLink);
        }

        const container = document.createDocumentFragment();

        if (rLen) {
            const userPanel = document.createElement('div');
            userPanel.className = 'users';

            for (let r = 0; r < rLen; r++) {
                const { Name, SmallPhotoUrl, Url } = users[r];
                const a = document.createElement('a');
                a.href = Url || 'javascript:void(0)';
                a.innerText = Name;
                a.className = 'slds-truncate';
                a.title = Name;
                a.style.backgroundImage = 'url(' + SmallPhotoUrl + ')';
                userPanel.appendChild(a);
            }

            container.appendChild(userPanel);
        }
        const usersDiv = node.querySelector('.users');
        if (usersDiv) {
            removeChilds(usersDiv);
            usersDiv.appendChild(container);
        } else {
            node.appendChild(container);
        }

        node.removeEventListener('mouseover', userMouseOver);
        node.removeEventListener('mouseout', userMouseOut);
        node.addEventListener('mouseover', userMouseOver);
        node.addEventListener('mouseout', userMouseOut);
    }
    function htmlEncode(val) {
        return (val || '').replace('&', '&amp;').replace('<', '&lt;').replace('>', '&gt;').replace('"', '&quot;');
    }
    function userAs(state) {
        const { userIdAs, users } = state;
        for (let len = users.length, i = 0; i < len; i++) {
            const user = users[i];
            if (user.Id === userIdAs) return user;
        }
        return {};
    }
    function userDisplayName() {
        return userAs(this.$store.state).Name || '';
    }
    function userEmail() {
        return userAs(this.$store.state).Email || '';
    }
    function userItems() {
        return this.$store.state.users.map(o => ({ text: o.Name + ' ' + o.Email, value: o.Id }));
    }
    function userMouseOver({ currentTarget }) {
        currentTarget.classList.add('hover');
    }
    function userMouseOut({ currentTarget }) {
        currentTarget.classList.remove('hover');
    }
    function userName() {
        return userAs(this.$store.state).Username || '';
    }
    function userPicture() {
        return userAs(this.$store.state).FullPhotoUrl || '';
    }
    function userProfileName() {
        return (userAs(this.$store.state).Profile || {}).Name || '';
    }
    function userRoleName() {
        return (userAs(this.$store.state).UserRole || {}).Name || '';
    }
    function userThumbnail() {
        return userAs(this.$store.state).SmallPhotoUrl || '';
    }


    Vue.component('org-chart', {
        template: `<div :id="id"/>`,
        props: ['id', 'data'],
        mounted() {
            createOrgChart(this.id, this.data);
        },
        watch: {
            data(value) {
                createOrgChart(this.id, value);
            },
        },
    });


    const dispatch$ = new Subject();
    dispatch$.pipe(
        bufferTime(100),
        filter(actions => !!actions.length),
        concatMap(actions => defer(async () => {
            const newState = await subscribeDispatch(actions);
            store.commit('setStates', [newState]);
        })),
        delayWhen(() =>
            interval(1000).pipe(
                takeWhile(_ => typeof subscribeDispatch === 'undefined'),
                ignoreElements(),
                concat(of(1)),
            )
        ),
        retryWhen(errors => errors.pipe(
            tap(err => {
                store.commit('setStates', [{ isLoading: true }]);
            }),
            delayWhen(val => timer(5000).pipe(tap(_ => {
                store.commit('setStates', [{ isLoading: false }]);
            }))),
        )),
    ).subscribe();

    const store = new Vuex.Store({
        state: Object.assign(appState, { dispatch$ }),
        mutations: {
            setStates(state, newStates) {
                const len = newStates.length;

                for (let i = 0; i < len; i++) {
                    const newState = newStates[i];

                    for (const stateName in newState) {
                        state[stateName] = newState[stateName];
                    }
                }
            },
        },
    });

    function storeCommit(newStates) {
        if (newStates && newStates.length) {
            store.commit('setStates', newStates);
        }
    }

    Vue.config.devtools = true;
    Vue.filter('orgname', (value) => {
        if (!value) return ''
        return value.replace(/^https:\/\/|\.my\.salesforce\.com$|\.salesforce\.com$/ig, '').toUpperCase();
    });
    Vue.filter('round', (value, dcp) => {
        return Math.round(value, dcp);
    });
    Vue.filter('empty', (value, emptyValue) => {
        return value || emptyValue || '';
    });
    Vue.mixin({
        methods: {
            dispatch(type, payload) { return this.$store.state.dispatch$.next({ type, payload }); },
            percent(a, b) {
                if (!b) return 0;
                return 100.0 * a / b;
            },
            orgHasOfflineAccess(org) { return this.$store.state.orgOfflineAccess.indexOf(org) >= 0; },
            orgIsSandbox(org) { return this.$store.state.orgSandboxes.indexOf(org) >= 0; },
        },
    });
</script>

<script type="text/x-template" id="spinner-template">
    <div class="slds-spinner">
        <span class="slds-assistive-text">Loading</span>
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
    </div>
</script>
<script>
    Vue.component('spinner', {
        template: '#spinner-template',
    });
</script>

<script type="text/x-template" id="button-iconleft-template">
    <svg class="slds-button__icon slds-button__icon_left">
        <use :xlink:href="'/assets/icons/'+type+'-sprite/svg/symbols.svg#'+icon"></use>
    </svg>
</script>
<script>
    Vue.component('button-iconleft', {
        template: '#button-iconleft-template',
        props: ['icon', 'type'],
    });
</script>

<script type="text/x-template" id="v-modal-template">
    <div style="height: 640px;position:fixed;top:1em;">
        <section tabindex="-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" @click="$emit('close')">
                        <svg class="slds-button__icon slds-button__icon_large">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                        </svg>
                        <span class="slds-assistive-text">
                            <slot name="close-text">Close</slot>
                        </span>
                    </button>
                    <slot name="header"></slot>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <slot></slot>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" @click="$emit('close')">
                        <slot name="close-text">Close</slot>
                    </button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</script>
<script>
    Vue.component('v-modal', {
        template: '#v-modal-template',
    });
</script>

<script type="text/x-template" id="overview-tab-template">
    <div>
        <div class="slds-page-header">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-strategy" title="Overview">
                                <svg class="slds-icon slds-page-header__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#strategy" />
                                </svg>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1>
                                        <span class="slds-page-header__title slds-truncate" title="Overview">Overview</span>
                                    </h1>
                                </div>
                            </div><!--<p class="slds-page-header__name-meta">-</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding:1em;position:relative;">
            <org-chart id="chart-container" :data="data" v-if="currentInstanceUrl && (data.children && data.children.length)"></org-chart>
            <spinner class="slds-spinner_medium" style="margin-top:2em;" v-if="currentInstanceUrl && (!data.children || !data.children.length)"></spinner>
            <div v-if="!currentInstanceUrl" style="padding:5em;">
                <a href="javascript:void(0)" @click="dispatch('showOrgModal',true)">click here to login your organization.</a>
            </div>
        </div>
    </div>
</script>
<script>
    Vue.component('overview-tab', {
        template: '#overview-tab-template',
        computed: {
            currentInstanceUrl() {
                return this.$store.state.currentInstanceUrl;
            },
            data() {
                return this.$store.state.userRoles;
            },
        },
    });
</script>

<script type="text/x-template" id="limits-tab-template">
    <div>
        <div class="slds-page-header">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-poll" title="Org Limits">
                                <svg class="slds-icon slds-page-header__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#poll" />
                                </svg>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1>
                                        <span class="slds-page-header__title slds-truncate" title="Org Limits">Org Limits</span>
                                    </h1>
                                </div>
                            </div><!--<p class="slds-page-header__name-meta">-</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding:1em;position:relative;">
            <div v-if="currentInstanceUrl">

                <div v-for="value in userLicenses">
                    <div class="slds-grid slds-grid_align-spread slds-p-bottom_x-small" id="progress-bar-label-id-1">
                        <span>{{value.Name}} ( {{value.TotalLicenses-value.UsedLicenses}} of {{value.TotalLicenses}} left)</span>
                        <span aria-hidden="true">
                            <strong>{{percent(value.UsedLicenses,value.TotalLicenses)|round(2)}}%</strong>
                        </span>
                    </div>
                    <div class="slds-progress-bar slds-progress-bar_circular">
                        <span class="slds-progress-bar__value" :style="{width:percent(value.UsedLicenses,value.TotalLicenses)+'%',background:percent(value.UsedLicenses,value.TotalLicenses)>90?'red':percent(value.UsedLicenses,value.TotalLicenses)>70?'orange':''}"></span>
                    </div>
                    <p>&nbsp;</p>
                </div>

                <div v-for="(value, key) in orgLimits">
                    <div class="slds-grid slds-grid_align-spread slds-p-bottom_x-small" id="progress-bar-label-id-1">
                        <span>{{key}} ( {{value.Remaining}} of {{value.Max}} left)</span>
                        <span aria-hidden="true">
                            <strong>{{percent(value.Max-value.Remaining,value.Max)|round(2)}}%</strong>
                        </span>
                    </div>
                    <div class="slds-progress-bar slds-progress-bar_circular">
                        <span class="slds-progress-bar__value" :style="{width:percent(value.Max-value.Remaining,value.Max)+'%',background:percent(value.Max-value.Remaining,value.Max)>90?'red':percent(value.Max-value.Remaining,value.Max)>70?'orange':''}"></span>
                    </div>
                    <p>&nbsp;</p>
                </div>

            </div>
            <spinner class="slds-spinner_medium" style="margin-top:2em;" v-if="currentInstanceUrl && !Object.keys(orgLimits).length"></spinner>
            <div v-if="!currentInstanceUrl" style="padding:5em;">
                <a href="javascript:void(0)" @click="dispatch('showOrgModal',true)">click here to login your organization.</a>
            </div>
        </div>
    </div>
</script>
<script>
    Vue.component('limits-tab', {
        template: '#limits-tab-template',
        computed: {
            currentInstanceUrl() {
                return this.$store.state.currentInstanceUrl;
            },
            orgLimits() {
                return this.$store.state.orgLimits;
            },
            userLicenses() {
                return this.$store.state.userLicenses;
            },
        },
    });
</script>

<script type="text/x-template" id="download-dataexport-tab-template">
    <div>
        <div class="slds-page-header">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-folder" title="Download Data Export">
                                <svg class="slds-icon slds-page-header__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#folder" />
                                </svg>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1>
                                        <span class="slds-page-header__title slds-truncate" title="Download Data Export">Download Data Export</span>
                                    </h1>
                                </div>
                            </div><!--<p class="slds-page-header__name-meta">-</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="currentInstanceUrl" style="padding:1em;">

            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <div class="slds-form-element">
                <div class="slds-clearfix">
                    <label class="slds-form-element__label" for="text-input-id-1">Email to (Optional, only send after completed/failed)</label>
                </div>
                <div class="slds-form-element__control" style="margin-top:0.1em;">
                    <div>
                        <input class="slds-input" type="text" v-model="exportEmails" />
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>

            <div class="slds-form-element">
                <div class="slds-clearfix">
                    <label class="slds-form-element__label" for="text-input-id-2">Export to</label>
                </div>
                <div class="slds-form-element__control" style="margin-top:0.1em;">
                    <v-autocomplete v-model="exportPath" :items="exportPathItems"
                                    id="text-input-id-2" :search-input.sync="fetchExportPath"></v-autocomplete>
                </div>
            </div>

            <div class="slds-form-element">
                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right" style="background:#000;color:#fff;">
                    <svg class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/action-sprite/svg/symbols.svg#apex" />
                    </svg>
                    <input placeholder="Command line for Download Export Data" class="slds-input" type="text" v-model="cmdExport" readonly id="cmdExport-input" @focus="$event.target.select()" />
                    <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" title="Copy" @click="document.getElementById('cmdExport-input').select();document.execCommand('Copy')">
                        <svg class="slds-button__icon slds-icon-text-light">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#copy_to_clipboard" />
                        </svg>
                        <span class="slds-assistive-text">Copy</span>
                    </button>
                </div>
            </div>

            <hr />
            <div class="slds-form-element">
                <button class="slds-button slds-button_success" @click="dispatch('viewDownloadExports', {exportPath,instanceUrl:currentInstanceUrl,userId:userIdAs})">
                    View Page
                </button>

                <button class="slds-button slds-button_success" @click="dispatch('downloadExports', {exportPath,instanceUrl:currentInstanceUrl,exportEmails})">
                    Download Now
                </button>
            </div>


            <div v-if="exportResult">
                <hr />
                <pre>{{exportResult}}</pre>
                <div>
                    <!-- :style="{visibility:exportPercent?'visible':'hidden'}"-->
                    <div class="slds-grid slds-grid_align-spread slds-p-bottom_x-small" id="progress-bar-label-id-1">
                        <span>Downloaded: {{exportDownloaded}} Skipped: {{exportSkipped}} Failed: {{exportFailed}}</span>
                        <span>
                            <strong>{{exportPercent}}% Complete</strong>
                        </span>
                    </div>
                    <div class="slds-progress-bar">
                        <span class="slds-progress-bar__value" :style="{width:exportPercent+'%'}">
                            <span class="slds-assistive-text">Progress: {{exportPercent}}%</span>
                        </span>
                    </div>
                </div>
                <ul>
                    <li v-for="file in exportResultFiles">
                        {{file.name}}<br />{{file.result}}
                    </li>
                </ul>
            </div>
        </div>
        <div v-if="!currentInstanceUrl" style="padding:5em;">
            <a href="javascript:void(0)" @click="dispatch('showOrgModal',true)">click here to login your organization.</a>
        </div>
    </div>
</script>
<script>
    Vue.component('download-dataexport-tab', {
        template: '#download-dataexport-tab-template',
        data() { return { fetchExportPath: '' }; },
        watch: {
            fetchExportPath(search) {
                if (search && search !== this.search) {
                    this.$store.state.dispatch$.next({
                        type: 'fetchDirPath', payload: {
                            search, value: this.$store.state.exportPath, field: 'exportPathItems'
                        }
                    });
                }
            },
        },
        computed: {
            cmdExport() {
                const orgName = this.$store.state.currentInstanceUrl ? this.$store.state.currentInstanceUrl
                    .replace(/^https:\/\/|\.my\.salesforce\.com$|\.salesforce\.com$/ig, '')
                    .replace(' ', '-')
                    .toLowerCase() : '';
                const exportEmails = this.exportEmails ? " -email \"" + this.exportEmails + "\"" : "";
                const exportPath = this.exportPath ? " -path \"" + this.exportPath + "\"" : "";
                return this.$store.state.cmdExport + orgName + exportEmails + exportPath;
            },
            currentInstanceUrl() { return this.$store.state.currentInstanceUrl; },
            exportEmails: {
                get() { return this.$store.state.exportEmails; },
                //set(value) { this.dispatch('exportEmails', (value || '').replace(/[ "'\r\n\t]/g,'').replace(/[;|&]/g, ',')); },
                set(value) { this.dispatch('exportEmails', value); },
            },
            exportPath: {
                get() { return this.$store.state.exportPath; },
                set(value) { this.dispatch('exportPath', value); },
            },
            exportPathItems() { return this.$store.state.exportPathItems; },
            exportPercent() {
                const { exportCount, exportResultFiles } = this.$store.state;
                if (!exportCount) return 0;
                let completed = 0;
                for (const file in exportResultFiles) if (/^(?:Downloaded|Failed|Skipped)\.\.\./.test(exportResultFiles[file])) completed++;
                return completed / exportCount * 100;
            },
            exportResult() {
                return this.$store.state.exportResult;
            },
            exportDownloaded() {
                const { exportResultFiles } = this.$store.state;
                let downloaded = 0;
                for (const file in exportResultFiles) if (/^Downloaded\.\.\./.test(exportResultFiles[file])) downloaded++;
                return downloaded;
            },
            exportFailed() {
                const { exportResultFiles } = this.$store.state;
                let failed = 0;
                for (const file in exportResultFiles) if (/^Failed\.\.\./.test(exportResultFiles[file])) failed++;
                return failed;
            },
            exportSkipped() {
                const { exportResultFiles } = this.$store.state;
                let skipped = 0;
                for (const file in exportResultFiles) if (/^Skipped\.\.\./.test(exportResultFiles[file])) skipped++;
                return skipped;
            },
            exportResultFiles() {
                const { exportResultFiles } = this.$store.state;
                const files = exportResultFiles ? Object.keys(exportResultFiles) : [];
                return files.map(name => ({ name, result: exportResultFiles[name] }));
            },
            userDisplayName,
            userEmail,
            userIdAs() { return this.$store.state.userIdAs; },
            userItems,
        },
    });
</script>

<script type="text/x-template" id="setup-tab-template">
    <div>
        <div class="slds-page-header">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-custom" title="Setup">
                                <svg class="slds-icon slds-page-header__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#custom" />
                                </svg>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1>
                                        <span class="slds-page-header__title slds-truncate" title="Setup">Setup</span>
                                    </h1>
                                </div>
                            </div><!--<p class="slds-page-header__name-meta">-</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding:1em;">
            <div class="slds-form-element">
                <div class="slds-clearfix">
                    <label class="slds-form-element__label" for="text-input-id-1">Org settings file path</label>
                </div>
                <div class="slds-form-element__control" style="margin-top:0.1em;">
                    <v-autocomplete v-model="orgSettingsPath" :items="orgSettingsPathItems"
                                    id="text-input-id-1" :search-input.sync="fetchOrgSettingsPath"></v-autocomplete>
                </div>
            </div>
            <div class="slds-form-element">
                <div class="slds-clearfix">
                    <label class="slds-form-element__label" for="text-input-id-2">Chrome path</label>
                </div>
                <div class="slds-form-element__control" id="text-input-id-2" style="margin-top:0.1em;">
                    <v-autocomplete v-model="chromePath" :items="chromePathItems"
                                    id="text-input-id-2" :search-input.sync="fetchChromePath"></v-autocomplete>
                </div>
            </div>
            <hr />
            <div class="slds-form-element">
                <button class="slds-button slds-button_success" @click="dispatch('saveConfig',{orgSettingsPath,chromePath})">Save path</button>
            </div>
        </div>
    </div>
</script>
<script>
    Vue.component('setup-tab', {
        template: '#setup-tab-template',
        data() { return { fetchOrgSettingsPath: '', fetchChromePath: '' }; },
        watch: {
            fetchOrgSettingsPath(search) {
                if (search && search !== this.search) {
                    this.$store.state.dispatch$.next({
                        type: 'fetchDirPath', payload: {
                            search, value: this.$store.state.orgSettingsPath, field: 'orgSettingsPathItems'
                        }
                    });
                }
            },
            fetchChromePath(search) {
                if (search && search !== this.search) {
                    this.$store.state.dispatch$.next({
                        type: 'fetchPath', payload: {
                            search, value: this.$store.state.chromePath, field: 'chromePathItems'
                        }
                    });
                }
            },
        },
        computed: {
            chromePath: {
                get() { return this.$store.state.chromePath; },
                set(value) { this.dispatch('chromePath', value); },
            },
            chromePathItems() { return this.$store.state.chromePathItems; },
            orgSettingsPath: {
                get() { return this.$store.state.orgSettingsPath; },
                set(value) { this.dispatch('orgSettingsPath', value); },
            },
            orgSettingsPathItems() { return this.$store.state.orgSettingsPathItems; },
        },
    });
</script>

<script type="text/x-template" id="organization-modal-template">
    <v-modal @close="dispatch('showOrgModal',false)">
        <template #header>
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Manage Organizations</h2>
        </template>
        <div v-if="orgSettings.length">
            <h3>Saved Organizations</h3>
            <ul>
                <li style="margin:2em;" v-for="org in orgSettings">
                    <div class="slds-box">
                        <button class="slds-button slds-button_neutral slds-button_stretch" style="padding:1em;font-size:150%;text-align:left;margin-bottom:0.2em" @click="dispatch('attemptLogin',org)">
                            <button-iconleft type="standard" icon="default" class="slds-icon_large"></button-iconleft>
                            {{org|orgname}}
                        </button>

                        <button class="slds-button slds-button_neutral" @click="dispatch('removeOrg',org)">
                            <button-iconleft type="action" icon="remove"></button-iconleft>
                            Revoke Access
                        </button>

                        <button class="slds-button slds-button_neutral" v-if="orgHasOfflineAccess(org)" @click="dispatch('removeOfflineAccess',org)">
                            <button-iconleft type="action" icon="remove"></button-iconleft>
                            Remove Offline Access
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <h3>New Organization</h3>
        <ul>
            <li style="margin:2em;">
                <div class="slds-box">
                    <button class="slds-button slds-button_neutral" style="width:100%;padding:1em;font-size:150%;text-align:left" @click="dispatch('attemptLogin','login.salesforce.com')">
                        <button-iconleft type="standard" icon="default" class="slds-icon_large"></button-iconleft>
                        Production (login.salesforce.com)
                    </button>
                </div>
            </li>
            <li style="margin:2em;">
                <div class="slds-box">
                    <button class="slds-button slds-button_neutral" style="width:100%;padding:1em;font-size:150%;text-align:left" @click="dispatch('attemptLogin','test.salesforce.com')">
                        <button-iconleft type="standard" icon="default" class="slds-icon_large"></button-iconleft>
                        Sandbox (test.salesforce.com)
                    </button>
                </div>
            </li>
            <!--<li style="margin:2em;">
                <div class="slds-box">
                    <button class="slds-button slds-button_neutral" style="width:100%;padding:1em;font-size:150%;text-align:left" @click="dispatch('attemptLogin',customLoginUrl)" :disabled="!customLoginUrl">
                        <button-iconleft type="standard" icon="default" class="slds-icon_large"></button-iconleft>
                        Custom ({{customLoginUrlHint}})
                    </button>
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <input placeholder="*.my.salesforce.com" class="slds-input" type="text" v-model="customLoginUrlInput" />
                        </div>
                    </div>
                </div>
            </li>-->
        </ul>
        <hr />
        <div class="slds-form-element">
            <div class="slds-clearfix">
                as
                <div class="slds-float_right">
                    <button class="slds-button slds-button_success" @click="dispatch('setOrgSettingsPath',orgSettingsPath)">Save path</button>
                </div>
                <label class="slds-form-element__label" for="text-input-id-1">Org settings file path</label>
            </div>
            <div class="slds-form-element__control" style="margin-top:0.1em;">
                <v-autocomplete v-model="orgSettingsPath" :items="orgSettingsPathItems"
                                id="text-input-id-1" :search-input.sync="fetchOrgSettingsPath"></v-autocomplete>
                oc
            </div>
        </div>
    </v-modal>
</script>
<script>
    Vue.component('organization-modal', {
        template: '#organization-modal-template',
        data() { return { fetchOrgSettingsPath: '' }; },
        watch: {
            fetchOrgSettingsPath(search) {
                if (search && search !== this.search) {
                    this.$store.state.dispatch$.next({
                        type: 'fetchDirPath', payload: {
                            search, value: this.$store.state.orgSettingsPath, field: 'orgSettingsPathItems'
                        }
                    });
                }
            },
        },
        computed: {
            currentInstanceUrl() { return this.$store.state.currentInstanceUrl; },
            orgSettings() { return this.$store.state.orgSettings; },
            orgSettingsPath: {
                get() { return this.$store.state.orgSettingsPath; },
                set(value) { this.dispatch('orgSettingsPath', value); },
            },
            orgSettingsPathItems() { return this.$store.state.orgSettingsPathItems; },
        },
    });
</script>

<script type="text/x-template" id="page-app-template">
    <v-app>
        <spinner class="slds-spinner_medium" v-if="isLoading"></spinner>
        <div class="slds-backdrop slds-backdrop_open" v-if="isLoading"></div>

        <header class="slds-global-header_container">
            <div class="slds-global-header slds-grid slds-grid_align-spread">
                <div class="slds-global-header__item">
                    <img src="/favicon.ico" height="40" />
                </div>
                <div class="slds-global-header__item">
                    <ul class="slds-global-actions">
                        <li class="slds-global-actions__item">
                            <button class="slds-box slds-theme_default slds-global-actions__setup slds-global-actions__item-action" title="Manage Organization" @click="dispatch('showOrgModal',true)" style="padding:0.5em;">
                                Manage Organizations
                                <svg class="slds-button__icon slds-global-header__icon">
                                    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#picklist_choice"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="slds-global-header__item">
                    <h1 v-if="currentInstanceUrl">
                        <a href="javascript:void(0)"
                           @click="dispatch('viewPage',{instanceUrl:currentInstanceUrl,url:currentInstanceUrl})">
                            {{currentInstanceUrl|orgname}}
                        </a>
                    </h1>
                </div>
                <div class="slds-global-header__item slds-global-header__item_search" style="flex-grow:1"></div>
                <div class="slds-global-header__item">
                    <a class="slds-box slds-theme_default slds-global-actions__setup slds-global-actions__item-action"
                       title="GitHub Page" style="padding:0.5em;" href="https://github.com/ste80/sf-dataexport" target="_blank">
                        GitHub Page
                        <svg class="slds-button__icon slds-global-header__icon">
                            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#question_best"></use>
                        </svg>
                    </a>
                </div>
                <div class="slds-global-header__item" v-if="currentInstanceUrl" style="padding-right:0;">
                    <h1>
                        <a href="javascript:void(0" @click="dispatch('showUserPopover',true)">
                            {{userDisplayName}} {{userEmail}}
                        </a>
                    </h1>
                </div>
                <div class="slds-global-header__item" v-if="currentInstanceUrl" style="padding-left:0;">
                    <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
                        <section :class="['slds-popover','slds-nubbin_top-right',showUserPopover?'':'slds-popover_hide']" role="dialog" style="position:absolute;top:3.2em;right:-0.8em;">
                            <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" title="Close dialog"
                                    @click="dispatch('showUserPopover',false)">
                                <svg class="slds-button__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                                </svg>
                                <span class="slds-assistive-text">Close dialog</span>
                            </button>
                            <div class="slds-popover__body" id="dialog-body-id-6">
                                <div :style="{visibility:!userItems.length?'visible':'hidden'}">
                                    <spinner class="slds-spinner_x-small" style="top:3em"></spinner>
                                </div>
                                <div :class="[userItems.length?'':'hidden']">
                                    <v-autocomplete v-model="popoverUserId" :auto-select-first="true" :items="userItems"
                                                    :clearable="true" placeholder="&lt;select salesforce user&gt;"></v-autocomplete>
                                    <div class="slds-button-group" role="group">
                                        <button class="slds-button slds-button_neutral"
                                                @click="dispatch('switchUser',{instanceUrl:currentInstanceUrl,userId:popoverUserId})"
                                                :disabled="!popoverUserId">
                                            Switch User
                                        </button>
                                        <button class="slds-button slds-button_neutral"
                                                @click="dispatch('loginAsUser',{instanceUrl:currentInstanceUrl,userId:popoverUserId})"
                                                :disabled="!popoverUserId">
                                            Login As
                                        </button>
                                        <a class="slds-button slds-button_neutral" :href="currentInstanceUrl+'/'+popoverUserId+'?noredirect=1'"
                                           :disabled="!popoverUserId">
                                            View
                                        </a>
                                    </div>
                                    <div>
                                        {{userRoleName}} <span v-if="userProfileName">({{userProfileName}})</span> &nbsp;
                                    </div>
                                    <div v-if="userPicture">
                                        <img :src="userPicture" />
                                    </div>
                                </div>
                            </div>
                        </section>
                        <button class="slds-button slds-global-actions__avatar slds-global-actions__item-action" @click="dispatch('showUserPopover',true)">
                            <span class="slds-avatar slds-avatar_circle slds-avatar_medium">
                                <img alt="Person name" :src="userThumbnail|empty('/assets/images/avatar2.jpg')" :title="userName" />
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <div style="margin-top:3.5rem;">
            <div class="slds-tabs_default">
                <ul class="slds-tabs_default__nav" role="tablist">
                    <li :class="['slds-tabs_default__item',tab=='overview'?'slds-is-active':'']" title="Overview">
                        <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" @click="dispatch('tab','overview')">
                            <span class="slds-tabs__left-icon">
                                <span class="slds-icon_container slds-icon-standard-strategy" title="Overview">
                                    <svg class="slds-icon slds-icon_small">
                                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#strategy"></use>
                                    </svg>
                                </span>
                            </span>Overview
                        </a>
                    </li>
                    <li :class="['slds-tabs_default__item',tab=='limits'?'slds-is-active':'']" title="Org Limits">
                        <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" @click="dispatch('tab','limits')">
                            <span class="slds-tabs__left-icon">
                                <span class="slds-icon_container slds-icon-standard-poll" title="Org Limits">
                                    <svg class="slds-icon slds-icon_small">
                                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#poll"></use>
                                    </svg>
                                </span>
                            </span>Org Limits
                        </a>
                    </li>
                    <li :class="['slds-tabs_default__item',tab=='downloaddataexport'?'slds-is-active':'']" title="Download Data Export">
                        <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" @click="dispatch('tab','downloaddataexport')">
                            <span class="slds-tabs__left-icon">
                                <span class="slds-icon_container slds-icon-standard-folder" title="Download Data Export">
                                    <svg class="slds-icon slds-icon_small">
                                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#folder"></use>
                                    </svg>
                                </span>
                            </span>Download Data Export
                        </a>
                    </li>
                    <li :class="['slds-tabs_default__item',tab=='setup'?'slds-is-active':'']" title="Setup">
                        <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" @click="dispatch('tab','setup')">
                            <span class="slds-tabs__left-icon">
                                <span class="slds-icon_container slds-icon-standard-custom" title="Setup">
                                    <svg class="slds-icon slds-icon_small">
                                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#custom"></use>
                                    </svg>
                                </span>
                            </span>Setup
                        </a>
                    </li>
                </ul>
                <div :class="['slds-tabs_default__content',tab=='overview'?'slds-show':'slds-hide']" style="padding:1em;">
                    <overview-tab></overview-tab>
                </div>
                <div :class="['slds-tabs_default__content',tab=='limits'?'slds-show':'slds-hide']" style="padding:1em;">
                    <limits-tab></limits-tab>
                </div>
                <div :class="['slds-tabs_default__content',tab=='downloaddataexport'?'slds-show':'slds-hide']" style="padding:1em;">
                    <download-dataexport-tab></download-dataexport-tab>
                </div>
                <div :class="['slds-tabs_default__content',tab=='setup'?'slds-show':'slds-hide']" style="padding:1em;">
                    <setup-tab></setup-tab>
                </div>
            </div>
        </div>

        <organization-modal v-if="showOrgModal"></organization-modal>

        <v-modal @close="dispatch('alertMessage','')" v-if="alertMessage">
            <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning">
                <span class="slds-assistive-text">warning</span>
                <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" title="Description of icon when needed">
                    <svg class="slds-icon slds-icon_x-small">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
                    </svg>
                </span>
                <h2>{{alertMessage}}</h2>
            </div>
            <template #close-text>
                OK
            </template>
        </v-modal>
    </v-app>
</script>
<script>
    Vue.component('page-app', {
        template: '#page-app-template',
        computed: {
            alertMessage() { return this.$store.state.alertMessage; },
            appPage() { return this.$store.state.appPage; },
            currentInstanceUrl() { return this.$store.state.currentInstanceUrl; },
            isLoading() { return this.$store.state.isLoading; },
            orgSettings() { return this.$store.state.orgSettings; },
            popoverUserId: {
                get() { return this.$store.state.popoverUserId; },
                set(value) { this.dispatch('popoverUserId', value); },
            },
            showOrgModal() { return this.$store.state.showOrgModal; },
            showUserPopover() { return this.$store.state.showUserPopover; },
            salesforceLogoUri() { return this.$store.state.salesforceLogoUri; },
            tab() { return this.$store.state.tab; },
            userDisplayName,
            userEmail,
            userIdAs() { return this.$store.state.userIdAs; },
            userName,
            userPicture,
            userProfileName,
            userRoleName,
            userThumbnail,
            userItems,
        },
    });
</script>

<div id="app"><page-app></page-app></div>
<script>
    const app = new Vue({
        el: '#app',
        store,
    });
    store.state.dispatch$.next({ type: 'isLoading', payload: false });
</script>