[v-cloak] {
    display: none;
}

/*#chart-container i.fa {
    display: none !important;
}*/

#chart-container .material-icons {
    vertical-align: middle;
}

#chart-container .node {
    cursor: pointer;
    position: relative;
}

    #chart-container .node .users {
        display: block;
        -ms-transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
        -moz-transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
        -webkit-transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
        transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
        -ms-transform-origin: top center;
        -moz-transform-origin: top center;
        -webkit-transform-origin: top center;
        transform-origin: top center;
        position: absolute;
        overflow: hidden;
        z-index: 1;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 22px;
        height: auto;
        opacity: 0;
    }

        #chart-container .node:hover .users {
            opacity: 1;
        }

    #chart-container .node .users .slds-truncate {
        display: block;
        font-size: 10px;
        min-width: 100px;
        height: 50px;
        line-height: 50px;
        background-repeat: no-repeat;
        background-size: 50px 50px;
        padding-left: 55px;
        padding-right: 5px;
    }

    #chart-container .node .title {
        font-size: 11px !important;
        line-height: 13px !important;
        background: #006994;
        font-weight: bold;
    }

#user-photos-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

    #user-photos-div a {
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        position: relative;
    }

        #user-photos-div a img {
            margin: 5px;
            margin-bottom: 60px;
            transition: all 1s;
        }

            #user-photos-div a img:hover {
                transform: scale(1.1)
            }

        #user-photos-div a span {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
        }
