<script>
    const store = new Vuex.Store({
        state: "<<appState>>",
        mutations: { commit(state, { name, value }) { state[name] = value; } },
        actions: { dispatch(_, { type, payload }) { console.log({ type, payload }); } },
    });

    Vue.config.devtools = true;
    Vue.filter('orgname', function (value) {
        if (!value) return ''
        return value.replace(/^https:\/\/|\.my\.salesforce\.com$|\.salesforce\.com$/ig, '');
    });
    Vue.mixin({
        methods: {
            dispatch(type, payload) { store.dispatch('dispatch', { type, payload }); },
            hasOfflineAccess(org) { return store.state.orgOfflineAccess.indexOf(org) >= 0; },
        }
    });
</script>


<script type="text/x-template" id="connection-template">
    <div style="height: 640px;">
        <section tabindex="-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" v-if="currentInstanceUrl" @click="dispatch('orgOpened',false)">
                        <svg class="slds-button__icon slds-button__icon_large">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Manage Organizations</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div v-if="orgSettings.length">
                        <h3>Saved Organizations</h3>
                        <ul>
                            <li style="margin:2em;" v-for="org in orgSettings">
                                <div class="slds-box">
                                    <button class="slds-button slds-button_neutral" style="width:100%;padding:1em;font-size:150%;text-align:left;margin-bottom:0.2em" @click="dispatch('@attemptLogin',org)">
                                        <svg class="slds-button__icon slds-button__icon_left slds-icon_large" style="color:#009CDF">
                                            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#default"></use>
                                        </svg>
                                        {{org|orgname}}
                                    </button>

                                    <button class="slds-button slds-button_neutral" @click="dispatch('@removeOrg',org)">
                                        <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="/assets/icons/action-sprite/svg/symbols.svg#remove"></use>
                                        </svg> Remove Org Settings
                                    </button>

                                    <button class="slds-button slds-button_neutral" v-if="hasOfflineAccess(org)" @click="dispatch('@removeOfflineAccess',org)">
                                        <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="/assets/icons/action-sprite/svg/symbols.svg#remove"></use>
                                        </svg> Remove Offline Access
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h3>New Organization</h3>
                    <ul>
                        <li style="margin:2em;">
                            <div class="slds-box">
                                <button class="slds-button slds-button_neutral" style="width:100%;padding:1em;font-size:150%;text-align:left" @click="dispatch('@attemptLogin','login.salesforce.com')">
                                    <svg class="slds-button__icon slds-button__icon_left slds-icon_large" style="color:#009CDF">
                                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#default"></use>
                                    </svg>
                                    Production (login.salesforce.com)
                                </button>
                            </div>
                        </li>
                        <li style="margin:2em;">
                            <div class="slds-box">
                                <button class="slds-button slds-button_neutral" style="width:100%;padding:1em;font-size:150%;text-align:left" @click="dispatch('@attemptLogin','test.salesforce.com')">
                                    <svg class="slds-button__icon slds-button__icon_left slds-icon_large" style="color:#009CDF">
                                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#default"></use>
                                    </svg>
                                    Sandbox (test.salesforce.com)
                                </button>
                            </div>
                        </li>
                        <!--<li style="margin:2em;">
                            <div class="slds-box">
                                <button class="slds-button slds-button_neutral" style="width:100%;padding:1em;font-size:150%;text-align:left" @click="dispatch('@attemptLogin',customLoginUrl)" :disabled="!customLoginUrl">
                                    <svg class="slds-button__icon slds-button__icon_left slds-icon_large" style="color:#009CDF">
                                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#default"></use>
                                    </svg>
                                    Custom ({{customLoginUrlHint}})
                                </button>
                                <div class="slds-form-element">
                                    <div class="slds-form-element__control">
                                        <input placeholder="*.my.salesforce.com" class="slds-input" type="text" v-model="customLoginUrlInput" />
                                    </div>
                                </div>
                            </div>
                        </li>-->
                    </ul>
                    <hr />
                    <div class="slds-form-element">
                        <div class="slds-clearfix">
                            <div class="slds-float_right">
                                <button class="slds-button slds-button_success" @click="dispatch('@changeOrgSettingsPath',orgSettingsPath)">Save path</button>
                            </div>
                            <label class="slds-form-element__label" for="text-input-id-1">Org settings file path</label>
                        </div>
                        <div class="slds-form-element__control" style="margin-top:0.1em;">
                            <input placeholder="Placeholder Text" class="slds-input" type="text" v-model="orgSettingsPath" />
                        </div>
                    </div>
                </div>
                <footer class="slds-modal__footer" v-if="currentInstanceUrl">
                    <button class="slds-button slds-button_neutral" @click="dispatch('orgOpened',false)">Cancel</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</script>
<script>
    Vue.component('connection-modal', {
        template: '#connection-template',
        //data() {
        //    return { customLoginUrlInput: '', customLoginUrl: '' }
        //},
        computed: {
            currentInstanceUrl() { return this.$store.state.currentInstanceUrl; },
            //customLoginUrlHint() { return this.customLoginUrl ? this.customLoginUrl : '*.my.salesforce.com'; }
            orgSettings() { return this.$store.state.orgSettings; },
            orgSettingsPath() { return this.$store.state.orgSettingsPath; },
        },
        //watch: {
        //    customLoginUrlInput(newVal) {
        //        this.customLoginUrl = !newVal ? '' : newVal.replace(/\.my\.salesforce\.com$/i, '') + '.my.salesforce.com';
        //    }
        //},
    });
</script>

<div id="app" style="padding:1em;">

    <div class="slds-spinner slds-spinner_medium" v-if="isLoading">
        <span class="slds-assistive-text">Loading</span>
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
    </div>
    <div class="slds-backdrop slds-backdrop_open" v-if="isLoading"></div>

    <header class="slds-global-header_container">
        <div class="slds-global-header slds-grid slds-grid_align-spread">
            <div class="slds-global-header__item">
                <img :src="salesforceLogoUri" />

            </div>
            <div class="slds-global-header__item">
                <h1 v-if="currentInstanceUrl">{{currentInstanceUrl|orgname}}</h1>
            </div>
            <div class="slds-global-header__item slds-global-header__item_search"></div>
            <div class="slds-global-header__item">
                <ul class="slds-global-actions">
                    <li class="slds-global-actions__item">
                        Organizations
                    </li>
                    <li class="slds-global-actions__item">
                        <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
                            <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__setup slds-global-actions__item-action" title="Setup" @click="dispatch('orgOpened',true)">
                                <svg class="slds-button__icon slds-global-header__icon">
                                    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#picklist_choice"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="slds-global-actions__item">
                        <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
                            <button class="slds-button slds-global-actions__avatar slds-global-actions__item-action">
                                <span class="slds-avatar slds-avatar_circle slds-avatar_medium">
                                    <img alt="Person name" src="/assets/images/avatar2.jpg" title="User avatar" />
                                </span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div>
        <h3>Command list</h3>
        <ul style="padding:1em;">
            <li style="margin:2em;">
                <button class="slds-button slds-button_neutral" style="width:100%;padding:2em;font-size:200%;">
                    Download Data Export
                </button>
            </li>
        </ul>
        <hr />
    </div>

    <connection-modal v-if="(!currentInstanceUrl || orgOpened) && !attemptLoginResult" />
</div>
<script>
    var app = new Vue({
        el: '#app',
        store,
        computed: {
            appPage() { return this.$store.state.appPage; },
            attemptingDomain() { return this.$store.state.attemptingDomain; },
            attemptLoginResult() { return this.$store.state.attemptLoginResult; },
            currentInstanceUrl() { return this.$store.state.currentInstanceUrl; },
            isLoading() { return this.$store.state.isLoading; },
            orgOpened() { return this.$store.state.orgOpened; },
            orgSettings() { return this.$store.state.orgSettings; },
            salesforceLogoUri() { return this.$store.state.salesforceLogoUri; },
        },
    });

    const subMutation = new rxjs.Subject();
    subMutation.pipe(
        rxjs.operators.concatMap(({ mutation, state }) => rxjs.from(subscribeMutation(mutation, state)).pipe(
            rxjs.operators.switchMap(changes => rxjs.defer(() => {
                if (changes) {
                    for (var t in changes) {
                        store.commit('commit', { name: t, value: changes[t] });
                    }
                }
            }))
        )),
        rxjs.operators.delayWhen(
            rxjs.interval(1000).pipe(
                rxjs.operators.takeWhile(val => typeof subscribeMutation === 'undefined'),
                rxjs.operators.ignoreElements(),
                rxjs.operators.concat(rxjs.of(1))
            )
        )
    ).subscribe();
    store.subscribe((mutation, state) => subMutation.next({ mutation, state }));

    const subAction = new rxjs.Subject();
    subAction.pipe(
        rxjs.operators.concatMap(({ action, state }) => rxjs.from(subscribeAction(action, state)).pipe(
            rxjs.operators.switchMap(changes => rxjs.defer(() => {
                if (changes) {
                    for (var t in changes) {
                        store.commit('commit', { name: t, value: changes[t] });
                    }
                }
            }))
        )),
        rxjs.operators.delayWhen(
            rxjs.interval(1000).pipe(
                rxjs.operators.takeWhile(val => typeof subscribeAction === 'undefined'),
                rxjs.operators.ignoreElements(),
                rxjs.operators.concat(rxjs.of(1))
            )
        )
    ).subscribe();
    store.subscribeAction(({ type: _, payload: action }, state) => {
        if (/^@/.test(action.type)) {
            subAction.next({ action, state });
        } else {
            store.commit('commit', { name: action.type, value: action.payload });
        }
    });

    if (store.state.attemptingDomain) {
        var login_url = store.state.attemptingDomain;
        store.commit('commit', { name: 'attemptLogin', value: '' });

        var result = {};
        var hashes = location.hash.replace(/^#/, '').split('&');
        for (var hash of hashes) {
            var [name, value] = hash.split('=');
            result[decodeURIComponent(name || '')] = decodeURIComponent(value || '');
        }
        result.login_url = login_url;

        if (result.access_token && params.instance_url) {
            store.commit('commit', { name: 'attemptLoginResult', value: result });
        } else {
            store.commit('commit', { name: 'attemptLoginResult', value: null });
        }
    }

    store.commit('commit', { name: 'isLoading', value: false });
</script>